@font-face {
  font-family: 'MinecraftFont';
  src: url('fonts/MinecraftRegular.otf');
  /* Add additional font properties if needed (e.g., font-weight, font-style) */
}

@font-face {
  font-family: 'MinecraftFont';
  src: url('fonts/MinecraftBold.otf');
  font-weight: bold;
}